.CardShowImage {
    height: 400px;
    margin: 15px;
}

.CardShowData {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.CardShowName {
    font-size: largest;
}

.TheWholeCardShow {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 30px 30px 0px 30px;
}

.LinkBack {
    display: flex;
    justify-content: flex-start;
    align-self: flex-end;
}

.AddCardtoCart {
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
}

.AddtoCartButton {
    border-radius: 8px;
    background-color: #0835db;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    width: 45%;
    height: 45%;
    padding: 14px;
    border: none;
    margin: 20px;
    cursor: pointer;
}

.AddtoCartButton:hover {
    background-color: #244cdc;
}

.AllTheComments{
    background-color: lightblue;
    border: solid black 1px;
    margin-top: 20px;
    margin-left: 2px;
    padding: 5px;
    width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}

.CommentsList{
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    text-align: center;
    margin: 5px;
    padding: 5px;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
}

.CommentSubmit{
    display: flex;
    justify-content: baseline;
    flex-direction: column;
    margin: 2px;
}

#submit-button{
    border-radius: 8px;
    background-color: #0835db;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    width: 45%;
    height: 45%;
    padding: 5px;
    border: none;
    cursor: pointer;
}