.CardShowImage {
    height: 400px;
    margin: 15px;
}

.CardShowData {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.CardShowName {
    font-size: largest;
}

.TheWholeCardShow {
    display: flex;
    align-content: stretch;
}

.LinkBack {
    display: flex;
    justify-content: flex-start;
    align-self: flex-end;
}

.AddCardtoCart {
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
}

.AddtoCartButton {
    border-radius: 8px;
    background-color: #0835db;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    width: 45%;
    height: 45%;
    padding: 14px;
    border: none;
    margin: 20px;
    cursor: pointer;
}

.AddtoCartButton:hover {
    background-color: #244cdc;
}