form {
    width: 340px;
    height: 500px;
    display: inline-block;
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
    line-break: auto;
    vertical-align: auto;
    font-variation-settings: "slnt" 0;
}

#credentials {
    display:block;
    margin: 5px;
    left: 50%;
    border-radius: 8px;
    border: none;
    background-color: lightgrey;
}

button {
    border-radius: 8px;
    background-color: #0835db;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    padding: 14px;
    border: none;
    margin: 20px 0;
    cursor: pointer;
}

ul {
    list-style: none;
}