.LoginForm {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    line-break: auto;
    font-variation-settings: "slnt" 0;
}

#credentials {
    display:flex;
    margin: 5px;
    line-break: auto;
}

#password {
    display: flex;
    margin: 5px;
    line-break: auto;
    left: 50%;
}