#NavBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#SearchBar {
    width: 500px;
    border-radius: 8px;
}

#sessionLinks {
    margin: 5px;
    display: flex;
    justify-content: space-evenly;
}

.auth {
    margin: 5px;
    border: solid black 2px;
    border-radius: 8px;
    background-color: #0835db;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 8px;
}

.auth:hover {
    background-color: #244cdc;
}

.auth a {
    margin: 5px;
}