#NavBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#SearchBar {
    width: 500px;
    border-radius: 8px;
}

#sessionLinks {
    margin: 5px;
    display: flex;
    justify-content: space-evenly;
}